<div class="col-md-12">
    <br/>
    <div class="wizard">
        <ul class="wizard-breadcrumbs">
            <li>
                <a href="#!/asignatura/">Asignatura {{recursoAsig.nombre}}  </a>
            </li>
            <li class="active">
                <a>Temas<span class="badge">2</span></a>
            </li>
        </ul>
    </div>

    <br/>

    <nav class="col-md-3 ">
        <div class="form-wrapper">
            <div class="top-block">
                <h2 class="title-top ">Filtros</h2>
                <p>Criterios de búsqueda.</p>
            </div>
            <div class="form">
                <div class="form-group">
                    <label class="control-label">Nombre:</label>
                    <input type="text" class="form-control" ng-model="filterBy.nombre" />
                </div>
                <div class="form-group">
                    <label class="control-label">Descripción:</label>
                    <input type="text" class="form-control" ng-model="filterBy.descripcion" />
                </div>
                <hr/>
                <a class="btn btn-default" ng-click="limpiar()"><i class="fa fa-ban"></i>&nbsp;Limpiar</a>
            </div>
        </div>
    </nav>
    <section class="col-md-9 ">
        <section class="form-wrapper">
            <div class="top-block">
                <h2 class="title-top ">Temas</h2>
                <p>A través de esta sección usted podrá consultar la lista de los temas registrados de la asignatura: {{recursoAsig.nombre}}.</p>
                <br/>
                



            </div>
            <div class="wrapper table-responsive" tasty-table bind-resource-callback="getResource " bind-init="init " bind-filters="filterBy ">
                <table class="table table-striped ">
                    <thead tasty-thead></thead>
                    <tbody ng-if="loading == false">
                        <tr ng-repeat="row in rows ">
                            <td>{{row.nombre}}</td>
                            <td>{{row.descripcion}}</td>
                            <td>{{row.pesoTema*100}}%</td>
                            <td style="width: 20%">
                                <a class="btn btn-warning" href="#!/asignatura/{{recursoAsig.id}}/tema/{{row.id}}/ver" title="Ver"><i class="fa fa-eye"></i></a> 
                                <a class="btn btn-success" href="#!/asignatura/{{recursoAsig.id}}/tema/{{row.id}}/editar" title="Editar"><i class="fa fa-pencil-square-o"></i></a> 
                                <a class="btn btn-danger" href="#" ng-click="eliminar(row)"><i class="fa fa-trash" title="Eliminar"></i></a> 
                                <a class="btn btn-info" href="#!/asignatura/{{recursoAsig.id}}/tema/{{row.id}}/concepto" title="Conceptos"><i class="fa fa-th" aria-hidden="true"></i></a>

                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr ng-if="loading == true">
                            <td colspan="6">
                                <loading></loading>
                            </td>
                        </tr>
                        <tr ng-if="loading == null">
                            <td colspan="6">
                                <no-data></no-data>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="tasty-pagination-responsive" tasty-pagination></div>
            </div>
            <hr/>
            <a class="btn btn-default" href="#!/asignatura/{{recursoAsig.id}}/tema/crear"><i class="fa fa-plus"></i> Agregar</a>
        </section>
    </section>
</div>
