<view-directive>
    <titulo>Temas</titulo>
    <descripcion>A través de esta sección usted podrá consultar los datos de una tema.</descripcion>
    <view>
        <dt>Id:</dt>
        <dd>
            {{recurso.id}}
        </dd>
        <dt>Nombre:</dt>
        <dd>
            {{recurso.nombre}}
        </dd>
        <dt>Descripcion:</dt>
        <dd>
            {{recurso.descripcion}}
        </dd>
        <dt>Peso:</dt>
        <dd>
            {{recurso.peso}}
        </dd>
    </view>
</view-directive>