<lista-directive>
    <breadcrumb>Conceptos<span class="badge">1</span></breadcrumb>
    <filtros>
        <div class="form-group">
            <label class="control-label">Nombre:</label>
            <input type="text" class="form-control" ng-model="filterBy.nombre" />
        </div>
    </filtros>
    <titulo>Concepto</titulo>
    <descripcion>A través de esta sección usted podrá realizar consultar la lista de temas.</descripcion>
    <tabla>
        <table class="table table-striped">
            <thead tasty-thead=""></thead>
            <tbody ng-if="loading == false">
                <tr ng-repeat="row in config.rows">
                    <td>{{row.nombre}}</td>
                    <td>{{row.peso}}</td>
                    <td>{{row.apriori}}</td>
                    <td>
                        <a href="#!/concepto/{{row.id}}/ver"><i class="fa fa-eye"></i> Ver</a>
                        &nbsp;
                        <a href="#!/concepto/{{row.id}}/editar"><i class="fa fa-pencil-square-o"></i> Editar</a>
                        &nbsp;
                        <a ng-click="eliminar(row)"><i class="fa fa-trash"></i> Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </tabla>
</lista-directive>