<div>
    <br/>
    <div class="wizard">
        <ul class="wizard-breadcrumbs">
            <li>
                <a href="#!/asignatura/">Asignaturas</a>
            </li>
            <li>
                <a href="#!/asignatura/{{atrasAsig}}/tema">Temas</a>
            </li>
            <li>
                <a href="#!/asignatura/{{atrasAsig}}/tema/{{atrasTema}}/concepto">Tema {{recursoTema.nombre}}</a>
            </li>
            <li class="active">
                <a>Concepto <span class="badge">4</span></a>
            </li>
        </ul>
    </div>

    <br/>

    <section class="form-wrapper">
        <div class="top-block">
            <h2 class="title-top">Concepto</h2>
            <p>A través de esta sección usted podrá gestionar la creación de conceptos para la aplicación {{recursoTema.nombre}}.</p>
        </div>

        <section class="wrapper form-horizontal" role="form">

            <div class="form-group" ng-if="!isCrear()">
                <div class="col-sm-6">
                <label class="control-label">Id:</label>
                    <label class="control-label">{{recurso.id}}</label>
                    <p class="help-block">Identificador único del concepto.</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6">
                <label for="nombre" class="control-label">Nombre:*</label>
                    <input type="text" ng-model="recurso.nombre" class="form-control" id="nombre" placeholder="Nombre del tema.">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6">
                <label for="peso" class="control-label">Conocimiento previo(%):</label>
                    <select class="form-control" ng-model="recurso.apriori" ng-options="x*100 | number:0  for x in listaConocimiento">
                        <option disabled selected value="">Conocimiento Previo en porcentaje.</option> 
                    </select>
                </div>
                {{recurso.apriori}}
            </div>


            <div class="form-group">
                <div class="col-sm-6">
                <label for="peso" class="control-label">Peso(%):</label>
                    <select class="form-control" ng-model="recurso.peso" ng-options="x*100 | number:0  for x in listaPeso">
                        <option disabled selected value="">Importancia en porcentaje.</option> 
                    </select>
                </div>
                {{recurso.peso}}
            </div>


            <hr>
            <a class="btn btn-cat" ng-click="guardarConcepto()"><i class="fa fa-floppy-o"></i>&nbsp;Guardar</a>
        </section>

        <hr/>
        <a href="#!/asignatura/{{atrasAsig}}/tema/{{atrasTema}}/concepto" class="btn btn-default">
            <i class="fa fa-mail-reply" aria-hidden="true"></i> Atrás
        </a>
    </section>
</div>
