<div>
    <br/>
    <div class="wizard">
        <ul class="wizard-breadcrumbs">
            <li>
                <a href="#!/asignatura/">Asignaturas</a>
            </li>
            <li>
                <a href="#!/asignatura/{{atrasAsig}}/tema">Temas</a>
            </li>
            <li>
                <a href="#!/asignatura/{{atrasAsig}}/tema/{{atrasTema}}/concepto">Conceptos</a>
            </li>
            <li class="active">
                <a>{{recurso.nombre}} <span class="badge">4</span></a>
            </li>
        </ul>
    </div>

    <br/>

    <section class="form-wrapper">
        <div class="top-block">
            <h2 class="title-top">Concepto</h2>
            <p>A través de esta sección usted podrá consultar los datos de un concepto.</p>
        </div>

        <form class="wrapper form-horizontal" role="form">
            <dl class="dl-horizontal">
                <dt>Id:</dt>
                <dd>
                    {{recurso.id}}
                </dd>
                <dt>Nombre:</dt>
                <dd>
                    {{recurso.nombre}}
                </dd>
                <dt>Conocimiento previo:</dt>
                <dd>
                    {{recurso.apriori*100}}%
                </dd>
                <dt>Peso:</dt>
                <dd>
                    {{recurso.peso*100}}%
                </dd>    
            </dl>
            <hr>
        </form>

        <hr/>
        <a href="#!/asignatura/{{atrasAsig}}/tema/{{atrasTema}}/concepto" class="btn btn-default">
            <i class="fa fa-mail-reply" aria-hidden="true"></i> Atrás
        </a>
    </section>
</div>
