<view-directive>
    <titulo>Conceptos</titulo>
    <descripcion>A través de esta sección usted podrá consultar los datos de un concepto.</descripcion>
    <view>
        <dt>Id:</dt>
        <dd>
            {{recurso.id}}
        </dd>
        <dt>Nombre:</dt>
        <dd>
            {{recurso.nombre}}
        </dd>
        <dt>Peso:</dt>
        <dd>
            {{recurso.peso}}
        </dd>
        <dt>Apriori:</dt>
        <dd>
            {{recurso.apriori}}
        </dd>
    </view>
</view-directive>