<div>
    <br/>
    <div class="wizard">
        <ul class="wizard-breadcrumbs">
            <li>
                <a href="#!/curso">Curso</a>
          
        </ul>
    </div>

    <br/>

    <section class="form-wrapper">
        <div class="top-block">
            <h2 class="title-top">Curso</h2>
            <p>A través de esta sección usted podrá consultar los datos de un curso.</p>
        </div>

        <form class="wrapper form-horizontal" role="form">
            <dl class="dl-horizontal">
                <dt>Id:</dt>
                <dd>
                    {{recurso.id}}
                </dd>
                <dt>Nombre:</dt>
                <dd>
                    {{recurso.nombre}}
                </dd>
                 <dt>Descripción:</dt>
                <dd>
                    {{recurso.descripcion}}
                </dd> 
                
                <dt>Introducción:</dt>
                <dd>
                    {{recurso.introduccion}}
                </dd> 
                
               <dt>Acerca de:</dt>
                <dd>
                    {{recurso.acerca_de}}
                </dd> 
                
                 <dt>Para quiénes:</dt>
                <dd>
                    {{recurso.para_quienes}}
                </dd> 
                
                <dt>Creado por:</dt>
                <dd>
                    {{recurso.profesor}}
                </dd> 
                
                <dt>Calificación del alumno:</dt>
                <dd>
                    {{recurso.calif_alumn}}
                </dd> 
            </dl>
            <hr>
        </form>

        <hr/>
        <a href="#!/curso" class="btn btn-default">
            <i class="fa fa-mail-reply" aria-hidden="true"></i> Atrás
        </a>
    </section>
</div>
