<div>
    <br/>
    <div class="wizard">
        <ul class="wizard-breadcrumbs">
            <li>
                <a href="#!/asignatura/">Asignaturas</a>
            </li>
            <li>
                <a href="#!/asignatura/{{atras}}/tema">Temas</a>
            </li>
            <li class="active">
                <a>Tema<span class="badge">3</span></a>
            </li>
        </ul>
    </div>

    <br/>

    <section class="form-wrapper">
        <div class="top-block">
            <h2 class="title-top">Ejercicio</h2>
            <p>A través de esta sección usted podrá gestionar la creación de temas para la aplicación {{recursoAsignatura.nombre}}.</p>

        </div>
        <section class="col-md-6">
            <section class="wrapper form-horizontal" role="form">

                <div class="form-group" ng-if="!isCrear()">
                    <label class="col-sm-3 control-label">Id:</label>
                    <div class="col-sm-7">
                        <label class="control-label">{{recurso.id}}</label>
                        <p class="help-block">Identificador único del ejercicio.</p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-3 control-label"> Conceptos</label>
                    <div class="col-sm-7">
                        <select ng-model="recurso.conceptosAsociados" id="selectConcepto" name="selectConcepto" multiple="multiple" style="width:300px;">
                            <option value="" disabled selected hidden >--Elige opcion--</option>
                        </select>
                        <br> conceptos Asociados:{{recurso.conceptosAsociados}}
                    
                    </div>
                
                </div>

                <div class="form-group">
                    <label for="nombre" class="col-sm-3 control-label">Enunciado:*</label>
                    <div class="col-sm-7">
                        <input type="text" ng-model="recurso.enunciado" class="form-control" id="enunciado">
                        <p class="help-block">Nombre del enunciado.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nivelDif" class="col-sm-3 control-label">Nivel de Dificultad</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" id="nivelDif" placeholder="nivelDif" ng-model="recurso.nivelDif" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="descuido" class="col-sm-3 control-label">Descuido</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" id="descuido" placeholder="descuido" ng-model="recurso.descuido" />
                    </div>
                </div>


               
                <hr>
                <a class="btn btn-primary" ng-click="guardarAsociados()"><i class="fa fa-floppy-o"></i>&nbsp;Guardar</a>
            </section>
        </section>

        {{recursoMauro}}
        
        <br> datos 
        
        {{datos}}


        








        <hr/>
        <a href="#!/asignatura/{{atras}}/tema" class="btn btn-default">
            <i class="fa fa-mail-reply" aria-hidden="true"></i> Atras
        </a>
    </section>

    
</div>
