<lista-directive>
    <breadcrumb>Alumnos <span class="badge">1</span></breadcrumb>
    <br/>
    <div class="wizard">
        <ul class="wizard-breadcrumbs">
            <li class="active">
                <a>Alumnos <span class="badge">1</span></a>
            </li>
        </ul>
    </div>

    <br/>

    <filtros>
        <div class="form-group">
            <label class="control-label">Nombre:</label>
            <input type="text" class="form-control" ng-model="filterBy.nombres" />
        </div>
        <div class="form-group">
            <label class="control-label">apellido:</label>
            <input type="text" class="form-control" ng-model="filterBy.apellidos" />
        </div>
    </filtros>



    <titulo>Alumnos</titulo>
    <descripcion>A través de esta sección usted podrá realizar consultar la lista de Alumno.</descripcion>
    <tabla>
        <div class='col-md-4' ng-repeat="row in config.rows">

            <div class="panel panel-primary">
                <div class="panel-heading">{{row.nombres}}
                    <a href="#!/alumno/{{row.id}}/ver"><i class="fa fa-eye"></i> Ver</a>
                </div>
                <div class="panel-body">
                    Apellido:{{row.apellidos}}
                </div>
                <div class="panel-footer">
                    <a href="#!/alumno/{{row.id}}/editar" right><i class="fa fa-pencil-square-o"></i> Editar</a>
                    <a ng-click="eliminar(row)" left><i class="fa fa-trash"></i> Eliminar</a>
                </div>
            </div>

        </div>
    </tabla>
</lista-directive>
