<form-directive>
    <titulo>Alumno</titulo>
    <descripcion>A través de esta sección usted podrá realizar la gestión de alumnos.</descripcion>
    <form>
        <div class="form-group" ng-if="!isCrear()">
            <label class="col-sm-3 control-label">Id:</label>
            <div class="col-sm-7">
                <label class="control-label">{{recurso.id}}</label>
                <p class="help-block">Identificador único del alumno.</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label for="nombre" class="control-label">Nombre:*</label>
                <input type="text" ng-model="recurso.nombres" class="form-control" id="nombres" placeholder="Nombre del alumno." required="required">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label for="descripcion" class="control-label">Apellido:*</label>
                <input type="text" ng-model="recurso.apellidos" class="form-control" id="apellidos" placeholder="Apellido del alumno." required="required">
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-6">
                <label for="edad" class="control-label">Edad:*</label>
                <input type="text" ng-model="recurso.edad" class="form-control" id="edad" placeholder="Edad del alumno." required="required">
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-6">
                <label for="cedula" class="control-label">cedula:*</label>
                <input type="text" ng-model="recurso.cedula" class="form-control" id="cedula" placeholder="Cedula del alumno." required="required">
            </div>
        </div>
        

        <div class="form-group">
                <div class="col-md-6">
                    <label class="control-label">Email:*</label>
                    <input type="email" name="input" id="email" ng-model="recurso.email" class="form-control" placeholder="Email del alumno." required>
                    <div role="alert">
                        <span class="error" ng-show="Form.input.$error.required">
                        Requerido!</span>
                        <span class="error" ng-show="Form.input.$error.email">
                        Email no valido!</span>
                    </div>
                </div>
        </div>

        






        <div class="form-group">
            <div class="col-sm-6">
            <label for="respuesta_correcta" class="control-label">Género:*</label>
                <select class="form-control" ng-model="recurso.genero" name="genero">
                    <option  disabled value="">--- Seleccione una opción ---</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
            </div>
        </div>

    </form>
</form-directive>