<view-directive>
    <titulo>Alumnos</titulo>
    <descripcion>A través de esta sección usted podrá consultar los datos de un Alumno.</descripcion>
    <view>
        <dt>Id:</dt>
        <dd>
            {{recurso.id}}
        </dd>
        <dt>Nombre:</dt>
        <dd>
            {{recurso.nombres}}
        </dd>
        <dt>Apellido:</dt>
        <dd>
            {{recurso.apellidos}}
        </dd>
        <dt>Edad:</dt>
        <dd>
            {{recurso.edad}}
        </dd>
        <dt>Cedula:</dt>
        <dd>
            {{recurso.cedula}}
        </dd>
        <dt>Email:</dt>
        <dd>
            {{recurso.email}}
        </dd>
        <dt>Género:</dt>
        <dd ng-if="recurso.genero == 'M' ||  recurso.genero == 'm'">Masculino</dd>
        <dd ng-if="recurso.genero == 'F' ||  recurso.genero == 'f'">Femenino</dd>
        
    </view>
</view-directive>