<view-directive>
    <titulo>Alumnos</titulo>
    <descripcion>A través de esta sección usted podrá consultar los datos de un Alumno.</descripcion>
    <view>
        <dt>Id:</dt>
        <dd>
            {{recurso.id}}
        </dd>
        <dt>Nombre:</dt>
        <dd>
            {{recurso.nombres}}
        </dd>
        <dt>Apellido:</dt>
        <dd>
            {{recurso.apellidos}}
        </dd>
        <dt>Edad:</dt>
        <dd>
            {{recurso.edad}}
        </dd>
        <dt>Género:</dt>
        <dd ng-if="recurso.genero == 'M'">Masculino</dd>
        <dd ng-if="recurso.genero == 'F'">Femenino</dd>
        <dt>Estilo de aprendizaje:</dt>
        <dd>
            {{recurso.estilo}}
        </dd>
        <dt>Nivel actual:</dt>
        <dd>
            {{recurso.nivelActual}}
        </dd>
    </view>
</view-directive>