<div class="col-md-12">

<br/>
    <div class="wizard">
        <ul class="wizard-breadcrumbs">
            <li class="active">
                <a>Alumnos <span class="badge">1</span></a>
            </li>
        </ul>
    </div>

    <br/>



<lista-directive>
    <breadcrumb>Alumnos <span class="badge">1</span></breadcrumb>
    <br/>
    <div class="wizard">
        <ul class="wizard-breadcrumbs">
            <li class="active">
                <a>Alumnos <span class="badge">1</span></a>
            </li>
        </ul>
    </div>

    <br/>

    <filtros>
        <div class="form-group">
            <label class="control-label">Nombre:</label>
            <input type="text" class="form-control" ng-model="filterBy.nombres" />
        </div>
        <div class="form-group">
            <label class="control-label">Apellido:</label>
            <input type="text" class="form-control" ng-model="filterBy.apellidos" />
        </div>
    </filtros>



    <titulo>Alumnos</titulo>
    <descripcion>A través de esta sección usted podrá realizar la administración de alumnos.</descripcion>
    <tabla>
        <div class="wrapper table-responsive" tasty-table bind-resource-callback="getResource " bind-init="init " bind-filters="filterBy ">
                <table class="table table-striped ">
                    <thead tasty-thead></thead>
                    <tbody ng-if="loading == false">
                        <tr ng-repeat="row in rows ">
                            <td>{{row.nombres}}</td>
                            <td>{{row.apellidos}}</td>
                            <td>
                                <a class="btn btn-warning" href="#!/alumno/{{row.id}}/ver" title="Ver"><i class="fa fa-eye"></i></a> 
                                <a class="btn btn-success" href="#!/alumno/{{row.id}}/editar" title="Editar"><i class="fa fa-pencil-square-o"></i></a> 
                                <a class="btn btn-danger" href="#" ng-click="eliminar(row)" title="Eliminar"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr ng-if="loading == true">
                            <td colspan="6">
                                <loading></loading>
                            </td>
                        </tr>
                        <tr ng-if="loading == null">
                            <td colspan="3">
                                <no-data></no-data>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
    </tabla>
</lista-directive>

        </div>