<br/>
<br/>

<div class="col-md-12">
    <div class="row" ng-controller="HeaderCtrl">
        <section class="box-body">
            <h1>¡Bienvenido {{user.nombre}}!</h1>
            <hr/>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam molestie metus. Quisque pellentesque ipsum et est pulvinar vehicula. Nunc ac nibh eget ipsum semper feugiat. Sed imperdiet massa tortor, sit amet ullamcorper massa lobortis et. Nulla a nisl et ligula faucibus aliquet a id orci. Sed porta tempor massa pretium malesuada.
            </p>
            <a class="btn btn-cat pull-right" href="#!/cursoAlumno"><i class="fa fa-plus"></i> Cursos</a>
        </section>
    </div>

    <br/>
    <hr>
    <br/>
    <br/>

    <div class="row">
        <div class="col-md-3">
            <div class="cloud lila1">
                <p class="pull-left"><i class="fa fa-graduation-cap"></i> Cursos</p> <span class="pull-right">54</span><br>
                <hr/>
                <p class="text-dash">Aquí podés ver todos los cursos que están disponibles en este momento.</p>
                <a href="#!/curso" class="bootom pull-right">ver más <i class="fa fa-plus" style="font-size: 0.9em"></i></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="cloud lila2">
                <p class="pull-left"><i class="fa fa-users"></i> Alumnos</p> <span class="pull-right">54</span><br>
                <hr/>
                <p class="text-dash">Aquí podés ver todos los alumnos inscriptos.</p>
                <a href="#!/alumno" class="bootom pull-right">ver más <i class="fa fa-plus" style="font-size: 0.9em"></i></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="cloud lila3">
                <p class="pull-left"><i class="fa fa-puzzle-piece"></i> Elementos didácticos</p> <span class="pull-right">54</span><br>
                <hr/>
                <p class="text-dash">Aquí podés ver todos lo elementos didácticos del STI.</p>
                <a class="bootom pull-right">ver más <i class="fa fa-plus" style="font-size: 0.9em"></i></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="cloud lila4">
               <p class="pull-left"><i class="fa fa-smile-o"></i> Estilos de aprendizaje</p> <span class="pull-right">54</span><br>
                <hr/>
                <p class="text-dash">Aquí podés ver todos los estilos de aprendizaje.</p>
                <a class="bootom pull-right">ver más <i class="fa fa-plus" style="font-size: 0.9em"></i></a>
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
