<form-directive>
    <titulo>Asignatura</titulo>
    <descripcion>A través de esta sección usted podrá gestionar la creación de asignaturas.</descripcion>
    <form>
        <div class="form-group" ng-if="!isCrear()">
            <label class="col-sm-3 control-label">Id:</label>
            <div class="col-sm-7">
                <label class="control-label">{{recurso.id}}</label>
                <p class="help-block">Identificador único de la asignatura.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="nombre" class="col-sm-3 control-label">Nombre:*</label>
            <div class="col-sm-7">
                <input type="text" ng-model="recurso.nombre" class="form-control" id="nombre">
                <p class="help-block">Nombre de la asignatura.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="descripcion" class="col-sm-3 control-label">Descripcion:*</label>
            <div class="col-sm-7">
                <input type="text" ng-model="recurso.descripcion" class="form-control" id="descripcion">
                <p class="help-block">Descripcion de la asignatura.</p>
            </div>
        </div>

    </form>
</form-directive>