<div>
    <br/>
    <div class="wizard">
        <ul class="wizard-breadcrumbs">
            <li>
                <a href="#!/curso/">Cursos</a>
            </li>
            <li>
                <a href="#!/curso/{{atrasCurso}}/tarea">Tareas</a>
            </li>
            <li>
                <a href="#!/curso/{{atrasCurso}}/tarea/{{atrasTarea}}/tareaDetalle">Ejercicios de la tarea</a>
            </li>
            <li class="active">
                <a>{{recurso.nombre}} <span class="badge">4</span></a>
            </li>
        </ul>
    </div>

    <br/>

    <section class="form-wrapper">
        <div class="top-block">
            <h2 class="title-top">Ejercicios de la tarea</h2>
            <p>A través de esta sección usted podrá consultar los datos de un ejercicio de la tarea.</p>
        </div>

        <form class="wrapper form-horizontal" role="form">
            <dl class="dl-horizontal">
                <dt>Id:</dt>
                <dd>
                    {{recurso.id}}
                </dd>
                <dt>Nombre:</dt>
                <dd>
                    {{recurso.nombre}}
                </dd>
                
                <dt>Ejercicio id:</dt>
                <dd>{{recurso.ejercicioView.id}}</dd>
                
                <dt>Ejercicio Enunciado:</dt>
                <dd>{{recurso.ejercicioView.enunciado}}</dd>
                
                
                
            </dl>
            <hr>
        </form>

        <hr/>
        <a href="#!/curso/{{atrasCurso}}/tarea/{{atrasTarea}}/tareaDetalle" class="btn btn-default">
            <i class="fa fa-mail-reply" aria-hidden="true"></i> Atras
        </a>
    </section>
</div>
