<view-directive>
    <titulo>Profesores</titulo>
    <descripcion>A través de esta sección usted podrá consultar los datos de un profesor.</descripcion>
    <view>
        <dt>Id:</dt>
        <dd>
            {{recurso.id}}
        </dd>
        <dt>Nombre:</dt>
        <dd>
            {{recurso.nombre}}
        </dd>
        <dt>Apellido:</dt>
        <dd>
            {{recurso.apellido}}
        </dd>
        <dt>Doc. de identidad:</dt>
        <dd>
            {{recurso.cedula}}
        </dd>
        <dt>Dirección:</dt>
        <dd>
            {{recurso.direccion}}
        </dd>
        <dt>E-mail:</dt>
        <dd>
            {{recurso.email}}
        </dd>
        <dt>Género:</dt>
        <dd ng-if="recurso.genero == 'M'">Masculino</dd>
        <dd ng-if="recurso.genero == 'F'">Femenino</dd>
        
    </view>
</view-directive>