.tituloEjercicio {
    color: coral;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: solid;
    
}

.tituloPrincipal{
    align-content: center;
    color: black;
    font-weight: bold;
    text-align: center;
}

#btnPrincipal{
    text-align: center;
}

#btnPrincipal .pull-right{
	float:none;
	text-align:center;
}