.logeoUser{
    max-width: 500px; 
    margin: 60px auto 0;
    h1 {text-align: center;
    color: purple}
    p {
        text-align: center;
    }
    h2 {text-align: center;
        color: purple}
}

.form-signin{
    text-align: center;
    
    
}

.text-justify-intro {
    text-align: center;
}


