<div>
    <br/>
    <div class="wizard">
        <ul class="wizard-breadcrumbs">
            <li>
                <a href="#!/cursoAlumno/">Cursos</a>
            </li>
            <li class="active">
                <a>Descripción del curso <span class="badge">2</span></a>
            </li>
        </ul>
    </div>

    <br/>

    <section class="form-wrapper">
        <div class="top-block">
            <h2 class="title-top">Descripción del curso: {{recurso.nombre}} </h2>
        </div>

        <form class="wrapper form-horizontal" role="form">
            <dl class="dl-horizontal">
                <dt class="pull-center">Introducción:</dt>
                <dd class="pull-center">
                    {{recurso.introduccion}}
                </dd>         
                
                <dt class="pull-center">Acerca del curso:</dt>
                <dd class="pull-center">
                    {{recurso.descripcion}}
                </dd>         

                <dt class="pull-center">Para quiénes:</dt>
                <dd class="pull-center">
                    {{recurso.para_quienes}}
                </dd>         

                <dt class="pull-center">Calificación:</dt>
                <dd class="pull-center">
                    {{recurso.calif_alumn}} <i class="fa fa-star" aria-hidden="true"></i>  <i class="fa fa-star" aria-hidden="true"></i>  <i class="fa fa-star" aria-hidden="true"></i>  <i class="fa fa-star" aria-hidden="true"></i>              

                </dd> 


            </dl>
            <hr>
        </form>        
        
        <hr/>
        <div class="pull-center">
            <a  class="btn btn-primary btn-lg" ng-click="guardarCurso()"><i class="fa fa-floppy-o"></i>&nbsp;Inscribirse</a>
        </div>
        

    </section>
</div>
