<div class="col-md-12">
    <br/>
    <div class="wizard">
        <ul class="wizard-breadcrumbs">
            <li>
                <a href="#!/cursoAlumno/">Curso</a>
            </li>
            <li>
                <a href="#!/cursoAlumno/{{curso.id}}/tarea">Tarea</a>
            </li>
            <li class="active">
                <a>Ejercicios del {{tipoDeTest}}
                    <span class="badge">3</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="row">

        <section class="form-wrapper">

            <div ng-switch on="valorVentana">
                <div ng-switch-when="A">
                    <div class="col-md-9 ">
                        <div class="top-block">
                            <h2 class="title-top ">Siguiente Ejercicio del {{tipoDeTest}}</h2>
                            <p>Se muestra el siguiente ejercicio</p>
                            <div class="enunciado">
                                <div class="col-sm-9">
                                    <label for="enunciado" class="control-label">{{ejercicio.enunciado}}</label>
                                </div>
                            </div>
                            <br/>
                            <hr/>
                            <div class="respuesta">
                                <div class="col-sm-9">
                                    <label>
                                        <input type="radio" ng-model="numero" type="radio" value="0" name="optradio"> {{ejercicio.listaRespuesta[0].descripcion}}</label>
                                </div>
                            </div>
                            <div class="respuesta">
                                <div class="col-sm-9">
                                    <label>
                                        <input type="radio" ng-model="numero" type="radio" value="1" name="optradio"> {{ejercicio.listaRespuesta[1].descripcion}}</label>
                                </div>
                            </div>
                            <div class="respuesta">
                                <div class="col-sm-9">
                                    <label>
                                        <input type="radio" ng-model="numero" type="radio" value="2" name="optradio"> {{ejercicio.listaRespuesta[2].descripcion}}</label>
                                </div>
                            </div>
                            <div class="respuesta">
                                <div class="col-sm-9">
                                    <label>
                                        <input type="radio" ng-model="numero" type="radio" value="3" name="optradio"> {{ejercicio.listaRespuesta[3].descripcion}}
                                    </label>
                                </div>
                            </div>


                            <div class="responderEjercicio">
                                <div class="col-sm-9">
                                    <a class="btn btn-cat" data-ng-show="mostrar()" ng-click="respuestaEjercicio(numero)">
                                        <i class="fa fa-slack" aria-hidden="true"></i>Responder Ejercicio</a>
                                    <a ng-hide="mostrar()"> No hay mas ejercicios</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="top-block">
                            <h2 class="title-top ">Datos del ejercicio del {{tipoDeTest}}</h2>
                            <p>Se muestra los datos del ejercicio</p>
                            <form class="wrapper form-horizontal" role="form">
                                <dl class="dl-horizontal">
                                    <dt>Dificultad:</dt>
                                    <dd ng-if="ejercicio.nivelDificultad == 1">Fácil</dd>
                                    <dd ng-if="ejercicio.nivelDificultad == 2">Normal</dd>
                                    <dd ng-if="ejercicio.nivelDificultad == 3">Dificil</dd>

                                    <dt>Adivinanza:</dt>
                                    <dd ng-if="ejercicio.adivinanza == 0.1">Bajo</dd>
                                    <dd ng-if="ejercicio.adivinanza == 0.2">Medio</dd>
                                    <dd ng-if="ejercicio.adivinanza == 0.3">Alto</dd>

                                    <dt>Conceptos:</dt>
                                    <dd ng-repeat="c in ejercicio.conceptosView">{{c.nombre}}</dd>

                                    <dt>Ejercicio Anterior:</dt>
                                    <dd ng-if="resp == false">Fallo</dd>
                                    <dd ng-if="resp == true">Acerto</dd>
                                </dl>
                                <hr>
                            </form>


                        </div>
                    </div>
                </div>
                <div ng-switch-when="B">

                    <div class="top-block">
                        <h2 class="title-top ">Resultados</h2>
                        <p>Resultados del primer test para averiguar mi situación. Nivel por asignatura</p>
                    </div>
                    <div>
                        <table class="table table-striped ">
                            <thead>
                                <td>
                                    <b>Ejercicio</b>
                                </td>
                                <td>
                                    <b>Respuesta</b>
                                </td>
                                <td>
                                    <b>Es Correcto</b>
                                </td>
                                <td>
                                    <b>Nivel Inicial</b>
                                </td>
                                <td>
                                    <b>Nivel Final</b>
                                </td>
                            </thead>
                            <tr ng-repeat="r in resueltos">
                                <td>{{ r.idEjercicio }}</td>
                                <td>{{ r.respuesta }}</td>
                                <td ng-if="r.esCorrecto == true">Verdadero</td>
                                <td ng-if="r.esCorrecto == false">Falso</td>
                                <td>{{ r.nivelInicial | number:3 }}</td>
                                <td>{{ r.nivelFinal | number:3}}</td>
                            </tr>
                        </table>
                    </div>
                    <a  ng-hide="sesionTutor.testFinal" class="btn btn-primary" href="#!/cursoAlumno/{{idCursoNumero}}/tarea/{{tarea}}/ejercicioTutor" title="Iniciar Tutorización">Iniciar Tutorización 
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </a>
                </div>
                <div ng-switch-default>Texto para cuando no es ni A ni C ni B</div>
            </div>

        </section>

    </section>
</div>