<div class="col-md-12">
    <br/>
    <div class="wizard">
        <ul class="wizard-breadcrumbs">
            <li>
                <a href="#!/cursoAlumno/">Curso</a>
            </li>
            <li>
                <a href="#!/cursoAlumno/1/tarea">Tarea</a>
            </li>
            <li class="active">
                <a>Ejercicios
                    <span class="badge">3</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="row">
        <section class="col-md-12 ">
            <section class="form-wrapper">

                <div ng-switch on="valor">
                    <div ng-switch-when="A">
                        <div class="col-md-9 ">
                            <div class="top-block">
                                <h2 class="title-top ">Siguiente Ejercicio</h2>
                                <p>Se muestra el siguiente ejercicio</p>
                                <div class="enunciado">
                                    <div class="col-sm-6">
                                        <label for="enunciado" class="control-label">{{ejercicio.enunciado}}</label>
                                    </div>
                                </div>
                                <br/>
                                <hr/>
                                <div class="respuesta">
                                    <div class="col-sm-6">
                                        <label>
                                            <input type="radio" ng-model="numero" type="radio" value="0" name="optradio"> {{ejercicio.listaRespuesta[0].descripcion}}</label>
                                    </div>
                                </div>
                                <div class="respuesta">
                                    <div class="col-sm-6">
                                        <label>
                                            <input type="radio" ng-model="numero" type="radio" value="1" name="optradio"> {{ejercicio.listaRespuesta[1].descripcion}}</label>
                                    </div>
                                </div>
                                <div class="respuesta">
                                    <div class="col-sm-6">
                                        <label>
                                            <input type="radio" ng-model="numero" type="radio" value="2" name="optradio"> {{ejercicio.listaRespuesta[2].descripcion}}</label>
                                    </div>
                                </div>
                                <div class="respuesta">
                                    <div class="col-sm-6">
                                        <label>
                                            <input type="radio" ng-model="numero" type="radio" value="3" name="optradio"> {{ejercicio.listaRespuesta[3].descripcion}}</label>
                                    </div>
                                </div>
                                {{numero}}
                                <hr color="blue" size=10>


                                <a class="btn btn-cat" data-ng-show="mostrar()" ng-click="respuestaEjercicioTutor(numero)">
                                    <i class="fa fa-floppy-o"></i>Responder Ejercicio</a>
                                <a ng-hide="mostrar()"> No hay mas ejercicios</a>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="top-block">
                                <h2 class="title-top ">Datos del ejercicio</h2>
                                <p>Se muestra los datos del ejercicio</p>
                                <form class="wrapper form-horizontal" role="form">
                                    <dl class="dl-horizontal">
                                        <dt>Dificultad:</dt>
                                        <dd ng-if="ejercicio.nivelDificultad == 1">Fácil</dd>
                                        <dd ng-if="ejercicio.nivelDificultad == 2">Normal</dd>
                                        <dd ng-if="ejercicio.nivelDificultad == 3">Dificil</dd>

                                        <dt>Adivinanza:</dt>
                                        <dd ng-if="ejercicio.adivinanza == 0.1">Bajo</dd>
                                        <dd ng-if="ejercicio.adivinanza == 0.2">Medio</dd>
                                        <dd ng-if="ejercicio.adivinanza == 0.3">Alto</dd>

                                        <dt>Conceptos:</dt>
                                        <dd ng-repeat="c in ejercicio.conceptosView">{{c.nombre}}</dd>

                                        <dt>Ejercicio Anterior:</dt>
                                        <dd ng-if="resp == false">Fallo</dd>
                                        <dd ng-if="resp == true">Acerto</dd>
                                    </dl>
                                    <hr>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="B">

                        <div class="top-block">
                            <div class="col-md-8 ">
                                <h2 class="title-top ">Material </h2>
                                <hr>
                                <iframe class="youtube-player" type="text/html" width="100%" height="385" ng-src="{{trustSrc(urlFinal)}}"
                                    allowfullscreen frameborder="0">
                                </iframe>
                            </div>
                            <div class="col-md-4 ">

                                <h2 class="title-top ">Materiales</h2>
                                <p>Visualización del material</p>

                                <form class="wrapper form-horizontal" role="form">
                                    <dl class="dl-horizontal">
                                        <dt>Id:</dt>
                                        <dd>
                                            {{material.id}}
                                        </dd>
                                        <dt>Concepto:</dt>
                                        <dd>
                                            {{material.concepto}}
                                        </dd>
                                        <dt>Nivel:</dt>
                                        <dd>
                                            {{material.nivel}}
                                        </dd>

                                        <dt>Estilo:</dt>
                                        <dd>
                                            {{material.estilo}}
                                        </dd>

                                        <dt>Estrategia:</dt>
                                        <dd>
                                            {{material.estrategia}} VIDEO
                                        </dd>

                                        <dt>Url del material:</dt>
                                        <dd>
                                            {{material.urlMaterial}}
                                        </dd>

                                        <dt>Asignatura:</dt>
                                        <dd>
                                            {{material.idAsignatura}}
                                        </dd>
                                    </dl>
                                    <hr>
                                </form>
                                <hr/>
                                <a class="btn btn-cat" ng-click="respuestaMaterialTutor()">
                                    <i class="fa fa-file-video-o" aria-hidden="true"></i> Siguiente
                                </a>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="C">
                        <div class="col-md-6">
                            <div class="top-block">
                                <h2 class="title-top ">Conceptos Evaluados</h2>
                                <p>Estado de cada concepto evaluado. Niveles por Concepto</p>
                            </div>
                            <div>
                                <table class="table table-striped ">
                                    <thead>
                                        <td>
                                            <b>idConcepto</b>
                                        </td>
                                        <td>
                                            <b>Concepto</b>
                                        </td>
                                        <td>
                                            <b>Estilo</b>
                                        </td>
                                        <td>
                                            <b>Nivel Inicial</b>
                                        </td>
                                        <td>
                                            <b>Nivel Final</b>
                                        </td>
                                    </thead>
                                    <tr ng-repeat="r in caminos">
                                        <td>{{ r.idConcepto }}</td>
                                        <td>{{ r.nombreConcepto }}</td>
                                        <td>{{ r.estilo }}</td>
                                        <td>{{ r.nivelInicial | number:3 }}</td>
                                        <td>{{ r.nivelFinal | number:3 }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="top-block">
                                <h2 class="title-top ">Resultados</h2>
                                <p>Resultados del segundo Test. Niveles por asignatura</p>
                            </div>
                            <div>
                                <table class="table table-striped ">
                                    <thead>
                                        <td>
                                            <b>Concepto</b>
                                        </td>
                                        <td>
                                            <b>Ejercicio</b>
                                        </td>
                                        <td>
                                            <b>Material</b>
                                        </td>
                                        <td>
                                            <b>Respuesta</b>
                                        </td>
                                        <td>
                                            <b>Es Correcto</b>
                                        </td>
                                        <td>
                                            <b>Nivel Inicial</b>
                                        </td>
                                        <td>
                                            <b>Nivel Final</b>
                                        </td>
                                    </thead>
                                    <tr ng-repeat="r in resueltos ">
                                        <td>{{ r.idConcepto }}</td>
                                        <td>{{ r.idEjercicio }}</td>
                                        <td>{{ r.idMaterial }}</td>
                                        <td>{{ r.respuesta }}</td>
                                        <td ng-if="r.esCorrecto == true">Verdadero</td>
                                        <td ng-if="r.esCorrecto == false">Falso</td>
                                        <td>{{ r.nivelInicial | number:3 }}</td>
                                        <td>{{ r.nivelFinal | number:3 }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="D">
                        <div class="top-block">
                            <h2 class="title-top ">El sistema se quedó sin materiales disponibles. Avisar al tutor por favor
                                <a href="#!/cursoAlumno/{{curso.id}}/tarea" class="btn btn-default">
                                    <i class="fa fa-mail-reply" aria-hidden="true"></i> Volver
                                </a>
                            </h2>

                        </div>
                    </div>
                    <div ng-switch-when="E">
                            <div class="top-block">
                                <h2 class="title-top ">El sistema se quedó sin Ejercicios disponibles. Avisar al tutor por favor
                                    <a href="#!/cursoAlumno/{{curso.id}}/tarea" class="btn btn-default">
                                        <i class="fa fa-mail-reply" aria-hidden="true"></i> Volver
                                    </a>
                                </h2>
    
                            </div>
                        </div>
                    <div ng-switch-default>Texto para cuando no es ni A ni C ni B ni D ni E</div>
                </div>

            </section>
        </section>
    </section>
</div>