<div class="col-md-12">
    <br/>
    <div class="wizard">
        <ul class="wizard-breadcrumbs">
            <li>
                <a href="#!/cursoAlumno/">Curso</a>
            </li>
            <li>
                <a href="#!/cursoAlumno/1/tarea">Tarea</a>
            </li>
            <li class="active">
                <a>Ejercicios
                    <span class="badge">3</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="row">
        <section class="col-md-12 ">
            <section class="form-wrapper">

                <div ng-switch on="valor">
                    <div ng-switch-when="A">
                        <div class="top-block">
                            <h2 class="title-top ">Siguiente Ejercicio</h2>
                            <p>Se muestra el siguiente ejercicio</p>
                            <div class="enunciado">
                                <div class="col-sm-6">
                                    <label for="enunciado" class="control-label">{{ejercicio.enunciado}}</label>
                                </div>
                            </div>
                            <br/>
                            <hr/>
                            <div class="respuesta">
                                <div class="col-sm-6">
                                    <label>
                                        <input type="radio" ng-model="numero" type="radio" value="0" name="optradio"> {{ejercicio.listaRespuesta[0].descripcion}}</label>
                                </div>
                            </div>
                            <div class="respuesta">
                                <div class="col-sm-6">
                                    <label>
                                        <input type="radio" ng-model="numero" type="radio" value="1" name="optradio"> {{ejercicio.listaRespuesta[1].descripcion}}</label>
                                </div>
                            </div>
                            <div class="respuesta">
                                <div class="col-sm-6">
                                    <label>
                                        <input type="radio" ng-model="numero" type="radio" value="2" name="optradio"> {{ejercicio.listaRespuesta[2].descripcion}}</label>
                                </div>
                            </div>
                            <div class="respuesta">
                                <div class="col-sm-6">
                                    <label>
                                        <input type="radio" ng-model="numero" type="radio" value="3" name="optradio"> {{ejercicio.listaRespuesta[3].descripcion}}</label>
                                </div>
                            </div>
                            {{numero}}
                            <hr color="blue" size=10>
                            <hr/>
                            <hr>
                            <br />
                            <a class="btn btn-cat" data-ng-show="mostrar()" ng-click="respuestaEjercicioTutor(numero)">
                                <i class="fa fa-floppy-o"></i>Responder Ejercicio</a>
                            <a ng-hide="mostrar()"> No hay mas ejercicios</a>

                        </div>
                    </div>
                    <div ng-switch-when="B">
                        <div class="top-block">
                            <h2 class="title-top ">Materiales</h2>
                            <p>Visualización del material</p>
                        </div>
                        <form class="wrapper form-horizontal" role="form">
                            <dl class="dl-horizontal">
                                <dt>Id:</dt>
                                <dd>
                                    {{material.id}}
                                </dd>
                                <dt>Concepto:</dt>
                                <dd>
                                    {{material.concepto}}
                                </dd>
                                <dt>Nivel:</dt>
                                <dd>
                                    {{material.nivel}}
                                </dd>

                                <dt>Estilo:</dt>
                                <dd>
                                    {{material.estilo}}
                                </dd>

                                <dt>Estrategia:</dt>
                                <dd>
                                    {{material.estrategia}}
                                    VIDEO
                                </dd>

                                <dt>Url del material:</dt>
                                <dd>
                                    {{material.urlMaterial}}
                                </dd>

                                <dt>Asignatura:</dt>
                                <dd>
                                    {{material.idAsignatura}}
                                </dd>
                            </dl>
                            <hr>
                        </form>
                        <hr/>
                        <a class="btn btn-cat" ng-click="respuestaMaterialTutor()">
                                <i class="fa fa-file-video-o" aria-hidden="true"></i> Siguiente
                        </a>

                    </div>
                    <div ng-switch-when="C">
                        <div class="top-block">
                            <h2 class="title-top ">{{criterioValorTutor.mensaje}}</h2>
                        </div>
                    </div>
                    <div ng-switch-default>Texto para cuando no es ni A ni C ni B</div>
                </div>

            </section>
        </section>
    </section>
</div>