<div class="col-md-12">
    <br/>
    <div class="wizard">
        <ul class="wizard-breadcrumbs">
            <li>
                <a href="#!/cursoAlumno/">Curso</a>
            </li>
            <li>
                <a href="#!/cursoAlumno/1/tarea">Tarea</a>
            </li>
            <li class="active">
                <a>Ejercicios <span class="badge">3</span></a>
            </li>
        </ul>
    </div>
    <section class="row">
        <section class="form-wrapper">
            <div class="top-block">
                <h2 class="title-top ">Ejercicio</h2>
                <p>Favor responda correctamente el ejercicio de la siguiente tarea <strong>Nombre de la tarea</strong>.</p>
            </div>

            <div class="enunciado">
                <div class="col-sm-6">
                    <label for="enunciado" class="control-label">{{ejercicio.enunciado}} criterio: {{criterioValor}}</label>
                </div>
            </div>
            <br/>
            <hr/>
            <div class="respuesta">
                <div class="col-sm-6">
                    <label><input type="radio" ng-model="numero" type="radio" value="0" name="optradio"> {{ejercicio.listaRespuesta[0].descripcion}}</label>
                </div>
            </div>
            <div class="respuesta">
                <div class="col-sm-6">
                    <label><input type="radio" ng-model="numero" type="radio" value="1" name="optradio"> {{ejercicio.listaRespuesta[1].descripcion}}</label>
                </div>
            </div>
            <div class="respuesta">
                <div class="col-sm-6">
                    <label><input type="radio" ng-model="numero" type="radio" value="2" name="optradio"> {{ejercicio.listaRespuesta[2].descripcion}}</label>
                </div>
            </div>
            <div class="respuesta">
                <div class="col-sm-6">
                    <label><input type="radio" ng-model="numero" type="radio" value="3" name="optradio"> {{ejercicio.listaRespuesta[3].descripcion}}</label>
                </div>
            </div>
            <!--{{numero}}-->
            <hr color="blue" size=10><hr/>
            <hr>
            <br />
            <a class="btn btn-cat" data-ng-show="mostrar()"  ng-click="respuestaEjercicio()"><i class="fa fa-floppy-o"></i>Responder Ejercicio</a>
            <a  ng-hide="mostrar()" > No hay mas ejercicios</a>
            
        </section>
        
        <strong>{{resul.idTarea}}</strong>
         <strong>{{numero}}</strong>
            

    </section>
</div>
